.fontStyle {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-min-width: 70;
    -fx-background-color: #2B2E34;
    -fx-end-margin: 0;
    -fx-start-margin: 0;
}

.fontStyle #menuFile .label:hover {
    -fx-min-width: 20;
}

.fontStyle #menuFile:hover,
.fontStyle #menuCamera:hover {
    -fx-background-color: #3F4145;
    -fx-border-radius: 2;
}

.fontStyle #menuFile:hover .label,
.fontStyle #menuCamera:hover .label {
    -fx-background-color: #3F4145;
}

.fontStyle #menuFile:hover #menuContextItem,
.fontStyle #menuCamera:hover #menuContextItem,
.fontStyle #menuFile:hover #menuContextItem .label,
.fontStyle #menuCamera:hover #menuContextItem .label {
    -fx-background-color: #2B2E34;
}

.fontStyle #menuFile #menuContextItem:hover,
.fontStyle #menuCamera #menuContextItem:hover,
.fontStyle #menuFile #menuContextItem:hover .label,
.fontStyle #menuCamera #menuContextItem:hover .label {
    -fx-background-color: #3F4145;
}

.button {
    -fx-background-color: #4B5467;
    -fx-font-size: 14;
    -fx-text-fill: #cacdd3;
}

.menu-bar .menu-bar {
    -fx-background-color: #2B2E34;
}
.menu-bar .menu {
    -fx-background-color: #2B2E34;
}
.menu-bar  .menu-button:hover {
    -fx-background-color: #2B2E34;
}
.menu-bar .label {
    -fx-min-width: 20;
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #2B2E34;
}

.menu-bar #menuCamera {
    -fx-min-width: 100;
}

.menu-bar {
    -fx-background-color: #2B2E34;
}
.menu-bar .menu-item {
    -fx-background-color: #2B2E34;
    -fx-border-width: 0;
}
.context-menu {
    -fx-background-color: #2B2E34;
}

.context-menu .list-view {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #2B2E34;
}
.list-view {
    -fx-min-height: 40;
    -fx-background-color: #2B2E34;
}

.list-cell {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #2B2E34;
}
.list-cell:odd {
     -fx-text-fill: #cacdd3;
     -fx-font-size: 14;
     -fx-background-color: #3F4145;
 }

.list-cell:selected {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #4B5467;
}

#listViewContextDelete .menu-item {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #4B5467;
}

#listViewContextDelete .menu-item:focused {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #4B5467;
}

.list-cell:selected .context-menu {
    -fx-text-fill: #cacdd3;
    -fx-font-size: 14;
    -fx-background-color: #4B5467;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #2B2E34;
    -fx-text-fill: #cacdd3;
    -fx-font-size: 12;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #4B5467;
}
.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color:  #cacdd3;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #cacdd3;
}

.spinner {
    -fx-background-color: #2B2E34;
}